* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: hsl(0, 0%, 98%);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  text-align: center;
  grid-column: 4/8;
  grid-row: 1/3;
  margin-top: 50px;
  margin-bottom: 50px;
}

footer {
  grid-row: 8;
  grid-column: 4/8;
  align-self: end;
  justify-self: start;
}

.parent {
  display: grid;
  grid-template-columns: repeat(10, 10%);
  grid-template-rows: repeat(8, 10%);
  gap: 0px;
  column-gap: 10px;
  height: 660px;
}

.light-gray {
  font-style: normal;
  font-size: 35px;
  color: hsl(229, 6%, 66%);
  word-spacing: 2px;
}

.gray {
  font-size: 35px;
  color: hsl(234, 12%, 34%);
  font-weight: 600;
  word-spacing: 2px;
}

.head {
  color: hsl(229, 6%, 66%);
  word-spacing: 1.5px;
}

.grid {
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  gap: 5px;

  border-radius: 5px;
  height: 220px;
  width: 300px;
  padding: 20px;
  padding-top: 30px;
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.1);
  /* justify-self: center; */
}

.grid1 {
  border-top: 3px solid hsl(0, 78%, 62%);
  grid-column: 4/7;
  justify-self: center;
}

.grid2 {
  border-top: 3px solid hsl(180, 62%, 55%);
  grid-row: 3;
  grid-column: 2/4;
  justify-self: center;
}

.grid3 {
  border-top: 3px solid hsl(212, 86%, 64%);
  justify-self: center;
  grid-column: 7/9;
  grid-row: 3;
}

.grid4 {
  border-top: 3px solid hsl(34, 97%, 64%);
  grid-column: 4/7;
  justify-self: center;
  grid-row: 5/7;
}

.title {
  color: hsl(234, 12%, 34%);
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

.body {
  font-size: 15px;
  color: hsl(229, 6%, 66%);
  line-height: 1.5;
}

img {
  align-self: flex-end;
  margin-top: 20px;
  height: 50px;
}
